blinker==1.8.2
build==1.2.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
parsimonious==0.10.0
PyJWT==2.8.0
pyproject_hooks==1.1.0
regex==2024.5.15
requests==2.32.3
setuptools==70.1.0
singlestoredb==1.4.0
sqlparams==6.0.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
llama-index-llms-groq
llama-index
llama-index-graph-stores-nebula
python-dotenv
sounddevice
pydub
groq